
<div class="container">
  <div class="row">

    <div class="col-md-9 col-md-offset-2">

    <% @restaurants.each do |restaurant| %>

    <ul class = "list-unstyled list-colored">
      <li>
        <i> Name : </i>
        <%= link_to restaurant.name,  restaurant_path(restaurant.id) %> -
        <i> Address : </i>
        <%= restaurant.address %> -
        <i> Phone number : </i>
        <%= restaurant.phone_number %> -
        <i> Category : </i>
        <%= restaurant.category %>
        <%= link_to edit_restaurant_path(restaurant) do %>
          <i class="fa fa-pencil"></i>
        <% end %>
        <%= link_to restaurant_path(restaurant), method: :delete  do %>
          <i class="fa fa-times"></i>
        <% end %>
      </li>
    </ul>
    <% end %>

    <div class = "text-center list-colored">
      <%= link_to "Add a restaurant", new_restaurant_path, class: "btn btn-success" %>
    </div>

    </div>
  </div>
</div>
