
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">

      <div class="table text-colored">
        <h1>Restaurant <%= @restaurant.name %></h1>
          <div class="product">
            <div class="product-body">
              <h3><i> Where can I find it ? </i> </h3>
              <p><%= @restaurant.address %></p>
              <h1><i> Number : </i> </h1>
              <p><%= @restaurant.phone_number %></p>
              <h1> <i> Type of food </i> </h1>
              <p><%= @restaurant.category %></p>
            </div>
          </div>


      <h1> <i>Reviews : </i> </h1>
      <ul class = "list-unstyled">
      <% @restaurant.reviews.each do |review| %>
        <li><%= review.content %>  <%= '*' * review.rating %> </li>
      <% end %>
      </ul>
       <%= link_to 'New Review', new_restaurant_review_path(@restaurant), class: "btn btn-success" %>
      <%= link_to 'Back', restaurants_path, class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>

