
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">

      <div class="text-colored">
        <h1>Restaurant <%= @restaurant.name %></h1>

         <h1><i> Where can I find it ? </i> </h1>
        <h3><%= @restaurant.address %></h3>
         <h1><i> Number : </i> </h1>
        <h3><%= @restaurant.phone_number %></h3>
         <h1> <i> Type of food </i> </h1>
        <h3><%= @restaurant.category %></h3>

      <h1> <i>Reviews : </i> </h1>
      <ul class = "list-unstyled">
      <% @restaurant.reviews.each do |review| %>
        <li><%= review.content %>  <%= '*' * review.rating %> </li>
      <% end %>
      </ul>
       <%= link_to 'New Review', new_restaurant_review_path(@restaurant), class: "btn btn-success" %>
      <%= link_to 'Back', restaurants_path, class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>





